* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #622aa3;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.clock {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #2cccad;
    box-shadow: 0px 0px 8px 2px;
    position: relative;
}

.shield-clock span {
    position: absolute;
    width: 30px;
    height: 30px;
    font-family: 'Poiret One', cursive;
    font-size: 36px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 2px #454545;
}

.twelwe {
    left: 185px;
    top: 15px;
}

.three {
    top: 185px;
    right: 15px;
}

.six {
    bottom: 15px;
    left: 185px;
}

.nine {
    top: 185px;
    left: 15px;
}

#hour-hand,
#minute-hand,
#second-hand {
    position: absolute;
    box-shadow: 0 0 1px;
}

#hour-hand {
    background-color: #e2e2e2;
    width: 8px;
    height: 120px;
    top: 145px;
    left: 194px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

#minute-hand {
    background-color: #696969;
    width: 6px;
    height: 140px;
    top: 130px;
    left: 194px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

#second-hand {
    background-color: #454545;
    width: 2px;
    height: 180px;
    top: 110px;
    left: 200px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.center {
    position: absolute;
    top: 190px;
    left: 190px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 4px 2px #6d6d6d;
}
